<p>This is your Identicon for your IP:</p>
<p><img src="/nidenticon/" width="50" height="50" /></p>

<p>This is an Identicon width specified size (25x25) for the text 'Lorem ipsum dolor]':</p>
<p><img src="/nidenticon/25/Lorem%20ipsum%20dolor" width="25" height="25" /></p>

<p>This is an Identicon width specified size (100x100) for the text 'Identicon':</p>
<p><img src="/nidenticon/100/Identicon" width="100" height="100" /></p>

<p>This is an Identicon width specified size (75x75) for the text 'Foo':</p>
<p><img src="/nidenticon/75/Foo" width="75" height="75" /></p>